.page-header {
    text-align: center;
}

footer {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
}

.list-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 1em;
}

#item-list {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 0.5em;
}

#add-item-box {
    order: 9999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: thick dashed red;
    padding: 0.5em;
}

.list-item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5em;
}

.marked {
    order: 9998;
    border: thin dotted gray;
    background-color: lightgoldenrodyellow;
}

.unmarked {
    order: 0;
    border: thick solid darkred;
    background-color: lightsalmon;
}

input.checkbox {
    width: 3em;
    height: 3em;
    align-self: center;
}

.quantity-display {
    color: gray;
    font-style: italic;
    font-size: 0.8em;
}
